* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #F6F6FE;
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.contenedor {
	max-width: 1000px;
	width: 90%;
	margin: 0 auto;
}

.card {
	background: #FFF;
	border-radius: 15px;
	padding: 20px;
	display: flex;
	align-items: center;
	position: relative;
	margin-bottom: 50px;
}

.card__thumbnail {
	width: 650px;
	height: 200px;
	margin-right: 20px;
	border-radius: 10px;
	overflow: hidden;
	display: inline-block;
}

.card__img {
	width: 100px;
}